@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card{
  max-width: 150px;
}
.image-wrapper{
  height: 200px;
}

.cs-link {
  color: #e95370;
}

.cs-link:hover {
  text-decoration: underline;
}

.episode-box{
  color: #fff;
  display: block;
  background-color: #363636;
  width: 97px;
  font-size: 13px;
  transition-duration: 0.2s;
}

.episode-box:hover{
  background-color: #fab141;
}

.episode-box-active{
  background-color: #fab141;
}

@media only screen and (max-width: 768px) {
  .card{
    max-width: calc(33% - 0.8rem);
  }
}

@media only screen and (max-width: 480px) {
  .image-wrapper{
    height: 150px;
  }
}